/*****ANOTACOES*****/
/*****Mixins*****/
/*****Body*****/
body {
  background-color: #fafafa; }

::-webkit-scrollbar {
  display: none; }

/*****Container*****/
.container {
  margin: auto !important; }

@media only screen and (min-width: 993px) {
  .container {
    width: 90%; } }
/*****Nav Bar*****/
nav .row {
  margin-bottom: 0px; }
nav #logo {
  font-weight: 200; }
nav #logo-wrapper {
  height: 48.3px; }
nav #hamburguer {
  padding-left: 10px;
  margin-right: 0px; }
nav form {
  margin-top: 8px; }
  nav form .input-field {
    margin: auto;
    border-radius: 2px; }
  nav form #search {
    height: 48px !important;
    border-bottom-color: #42a5f5 !important;
    font-size: 18px;
    padding-top: 1px !important; }
  nav form #search:focus {
    border-radius: 2px !important;
    border-bottom-color: #fff !important;
    -webkit-box-shadow: 0 0 0 0 #fff !important;
    box-shadow: 0 0 0 0 #fff !important; }
  nav form #inputWrapper {
    width: 100%;
    height: 50px !important; }
  nav form .material-icons {
    margin-top: -6px; }
  nav form ::-webkit-input-placeholder {
    color: white; }
  nav form :-moz-placeholder {
    color: white;
    opacity: 1; }
  nav form ::-moz-placeholder {
    color: white;
    opacity: 1; }
  nav form :-ms-input-placeholder {
    color: white; }
  nav form ::-ms-input-placeholder {
    color: white; }
nav #virar-sensei {
  height: 50px; }
  nav #virar-sensei .icon {
    top: 5px; }
@media screen and (max-width: 992px) {
  nav .nav-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%; }
  nav form .input-field {
    margin-bottom: 8px !important; }
  nav form #inputWrapper {
    width: 90%; }
  nav form .material-icons {
    margin-top: -5px; }
  nav .button-collapse {
    margin-top: 4px !important; } }
@media screen and (max-width: 600px) {
  nav form .material-icons {
    margin-top: -2px; } }

/*****Side Navbar*****/
.side-nav a {
  color: #000;
  cursor: default;
  font-weight: 400; }
  .side-nav a span {
    float: right;
    color: #00c853; }
.side-nav .nome-usuario {
  font-weight: 500 !important; }
.side-nav #sair-button, .side-nav #main-page {
  cursor: pointer; }
.side-nav .divider {
  margin-top: 0px !important; }
.side-nav #cabecote {
  margin-top: 13px;
  margin-bottom: 7px; }
  .side-nav #cabecote span {
    color: rgba(0, 0, 0, 0.87) !important; }
  .side-nav #cabecote .userImage {
    width: 40px; }

/*****CORPO*****/
#corpo {
  margin-top: 73px !important; }

/*****CARDS*****/
.card-content {
  overflow: hidden;
  font-size: 16px; }
  .card-content span {
    font-weight: 500; }

#card-confirmados {
  position: fixed;
  margin-right: 6%; }
  #card-confirmados ul {
    margin-bottom: 0px; }
    #card-confirmados ul li {
      margin: 8px 0px 0px 0px; }

#class-form {
  margin-top: -48px !important; }

.card-action a {
  color: #ff6e40 !important; }

/*****CRIAR AULA*****/
.titulo {
  padding-left: 10.5px; }

#preco {
  width: 72%; }

#tituloData {
  padding-top: 20px; }

#tags p {
  display: inline-block; }

/*# sourceMappingURL=home.css.map */
