/*****ANOTACOES*****/
//Elementos fora da navbar tem 3.5% de margin-left

/*****Mixins*****/
//Menu
@mixin menu() {
	a {
		color: #000;
		cursor: default;
		font-weight: 400;
		
		span {
			float: right;
			color: #00c853;
		}			
	}

	.nome-usuario {
		font-weight: 500 !important;
	}

	#sair-button, #main-page {
		cursor: pointer;
	}
}

/*****Body*****/
body {
	background-color: #fafafa;
}

//Esconde a scroll bar
::-webkit-scrollbar { 
	display: none; 
}

/*****Container*****/
.container {
	margin: auto !important;
}

@media only screen and (min-width: 993px) {
	.container {
		width: 90%;
	}	
}

/*****Nav Bar*****/
nav {
	.row {
		margin-bottom: 0px;
	}

	//Logo
	#logo {
		font-weight: 200;
	}

	#logo-wrapper {
		height: 48.3px;
	}

	//Icone Hamburguer
	#hamburguer {
		padding-left: 10px;
		margin-right: 0px;
	}

	//Search Bar
	form {
		margin-top: 8px;

		.input-field {
			margin: auto;
			border-radius: 2px;
		}

		#search {
			height: 48px !important;
			border-bottom-color: #42a5f5 !important;
			font-size: 18px;
			padding-top: 1px !important;
		}

		#search:focus {
			border-radius: 2px !important;
			border-bottom-color: #fff !important;
			-webkit-box-shadow: 0 0 0 0 #fff !important;
			box-shadow: 0 0 0 0 #fff !important;
		}

		#inputWrapper {
			width: 100%;
			height: 50px !important;
		}

		.material-icons {
			margin-top: -6px;
		}

		//Mudar a cor do place-holder
		::-webkit-input-placeholder {
			color: white;
		}
		:-moz-placeholder {
			color: white;
			opacity:  1;
		}
		::-moz-placeholder {
			color: white;
			opacity:  1;
		}
		:-ms-input-placeholder {
			color: white;
		}
		::-ms-input-placeholder {
			color: white;
		}
	}
	
	//Botao VIRAR SENSEI
	#virar-sensei {
		.icon {
			top: 5px;
		}
		height: 50px;
	}
	
	//Tweaks do mobile
	@media screen and (max-width: 992px) {
		//Nav-Container
		.nav-container {
			margin-left: 0px !important;
			margin-right: 0px !important;
			width: 100%;
		}

		//Barra de Pesquisa
		form {
			.input-field {
				margin-bottom: 8px !important;
			}

			#inputWrapper {
				width: 90%;
			}

			.material-icons {
				margin-top: -5px;
			}
		}

		.button-collapse {
			margin-top: 4px !important;
		}
	}

	@media screen and (max-width: 600px) {
		form {
			.material-icons {
				margin-top: -2px;
			}
		}
	}
}

/*****Side Navbar*****/
.side-nav {
	@include menu();

	.divider {
		margin-top: 0px !important;
	}

	#cabecote {
		margin-top: 13px;
		margin-bottom: 7px;

		span {
			color: rgba(0,0,0,0.87) !important;
		}

		//Foto do Usuario
		.userImage {
			width: 40px;
		}		
	}

}

/*****CORPO*****/
#corpo {
	margin-top: 48+25px !important;
}

/*****CARDS*****/
.card-content {
	overflow: hidden;
	font-size: 16px;
	
	span {
		font-weight: 500;
	}
}

#card-confirmados {
	position: fixed;
	margin-right: 6%;
	
	ul {
		margin-bottom: 0px;
		
		li {
			margin: 8px 0px 0px 0px;
		}
	}
}

#class-form {
	margin-top: -48px !important;
}

.card-action a {
	color: #ff6e40 !important;
}

/*****CRIAR AULA*****/
.titulo {
	padding-left: 10.5px;
}

#preco {
	width: 72%;
}

#tituloData {
	padding-top: 20px;
}

#tags p {
	display: inline-block;
}