// FALTA COMPILAR ESSE ARQUIVO PARA CSS (MEU PC NAO TEM ISSO)

// Cores dos cards

$cor1: red ligthen-1;
$cor2: pink lighten-1;
$cor3: purple lighten-1;
$cor4: deep-purple lighten-1;
$cor5: indigo lighten-1;
$cor6: blue accent-2;
$cor7: cyan darken-1;
$cor8: light-blue darken-1;
$cor9: teal lighten-1;
$cor10: green;
$cor11: light-green darken-4;
$cor12: lime;
$cor13: brown;
$cor14: orange darken-2;
$cor15: yellow accent-3;
$cor16: blue-grey;

#descricao-aula{
	padding-bottom: 1em;
}

.tags-aula{
	//padding-bottom: 1em;
}

.sensei-aula{
	//margin-left: 40%; 
}

.sensei-aula{
	color: lightgreen;
}
.sensei-aula:hover{
	color: yellow;
}
.sensei-aula:active{
	color: red;
}

.inscricao-aula{
	//margin-left: 60%;
	//float: right;
}

.card-action{
	overflow: hidden;
}

.card-content{
	padding-bottom: 8px !important;
}