<div class="row route-tela">
	<!-- Loader -->
	<div class="loader-wrapper">
		<!-- Mensagem de Vazio -->
		<h4 ng-if="Aula.aulas && Aula.aulas.length == 0">Não há nada aqui :/</h4>
		
		<div class="preloader-wrapper big active loader" ng-if="!Aula.aulas">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Cards -->
	<div class="col s12 m6 l4" ng-repeat="aulas in Aula.aulas">
		<div class="card medium">
			<div class="card-content">
				<span class="card-title">{{aulas.aulaNome}}</span>
				<a class="nome-sensei" ng-href="{{'home.html#!/sensei?id=' + aulas.id}}">{{aulas.nome}}</a>
				
				<div id="tags">
					<div class="chip" ng-repeat="tags in aulas.tags">{{tags}}</div>
				</div>
				
				<p class="preco info">R${{aulas.preco}}</p>
				<p class="data info">{{aulas.dataDia}} - {{aulas.dataHora}}</p>
				<p class="local info">Local: {{aulas.local}}</p>
				<p class="vagas info">{{aulas.capacidade}} vagas restantes</p>
			</div>
			
			<div class="card-action">
				<a ng-show="!estaConfirmado(aulas.aulaId)" class="right" href="#" onclick="return false;" ng-click="inscreverNaAula(usuario.ID, aulas.aulaId)">Inscrever-se</a>
				<a ng-show="estaConfirmado(aulas.aulaId)" class="right" href="#" onclick="return false;" ng-click="">Cancelar inscrição</a>
			</div>
		</div>
	</div>
</div>