<div class="row route-tela">
	<!-- Loader -->
	<div class="loader-wrapper">
		<!-- Mensagem de Vazio -->
		<h4 ng-if="Aulas && Aulas.length == 0">Não há nada aqui :/</h4>
		
		<div class="preloader-wrapper big active loader" ng-if="!Aulas">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Cards -->
	<div class="col s12 m6 l4" ng-repeat="aulas in Aulas">
		<div class="card large">
			<div class="card-content">
				<span class="card-title">{{aulas.aulaNome}}</span>
				<a class="nome-sensei" ng-href="{{'home.html#!/sensei?id=' + aulas.id}}">{{aulas.nome}}</a>
				
				<div id="tags">
					<div class="chip" ng-repeat="tags in aulas.tags">{{tags}}</div>
				</div>
				
				<p class="preco info">{{aulas.preco | currency:'R$'}}</p>
				<p class="data info">{{aulas.dataDia}} - {{aulas.dataHora}}</p>
				<p class="local info">Local: {{aulas.local}}</p>
				<p class="vagas info">{{aulas.capacidade}} vagas restantes</p>
				
				<!-- Lista de Inscritos href -->
				<a class="waves-effect waves-light modal-trigger lista-inscritos-href" ng-attr-href="{{'#lista-inscritos-' + aulas.aulaId}}" ng-click="getInscritos(aulas.aulaId)" onclick="return false;">Lista de inscritos</a>
			</div>
				
			<!-- Lista de Inscritos Modal -->
			<div ng-attr-id="{{'lista-inscritos-' + aulas.aulaId}}" class="modal modal-fixed-footer modal-inscritos">
				<div class="modal-content">
					<h5 class="modal-header">{{aulas.aulaNome}}</h5>
					
					<!-- Loader -->
					<div class="loader-wrapper">
						<!-- Mensagem de Vazio -->
						<h5 ng-if="aulas.inscritos && aulas.inscritos.length == 0">Não há ninguém aqui :/</h5>
						
						<div class="preloader-wrapper medium active loader" ng-if="!aulas.inscritos">
							<div class="spinner-layer spinner-blue-only">
								<div class="circle-clipper left">
									<div class="circle"></div>
								</div><div class="gap-patch">
									<div class="circle"></div>
								</div><div class="circle-clipper right">
									<div class="circle"></div>
								</div>
							</div>
						</div>
					</div>
					
					<!--Tabela-->
					<table class="bordered">
						<!--Linha para cada usuario-->
						<tbody>
							<tr ng-repeat="pessoa in aulas.inscritos">
								<td><img class="circle foto-user" ng-src="{{pessoa.foto}}"></td>
								<td><p>{{pessoa.nome}}</p></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="modal-action modal-close waves-effect waves-orange btn-flat">Fechar</button>
				</div>
			</div>
			
			<!-- Card Action -->
			<div class="card-action">
				<a ng-show="!estaConfirmado(aulas.aulaId)" class="right btn amber accent-4" href="#" onclick="return false;" ng-click="inscreverNaAula(usuario.ID, aulas.aulaId)">Inscrever-se</a>
				<a ng-show="estaConfirmado(aulas.aulaId)" class="right btn amber accent-4" href="#" onclick="return false;" ng-click="desinscreverNaAula(usuario.ID, aulas.aulaId)">Cancelar inscrição</a>
			</div>
		</div>
	</div>
</div>