<div class="row route-tela">
	<!-- Loader -->
	<div class="loader-wrapper">
		<div class="preloader-wrapper big active loader" ng-if="!sensei">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- INFO -->
	<div id="sensei-info" ng-if="sensei">
		<img ng-attr-src="{{sensei.foto}}" class="circle" id="sensei-img">
		
		<div class="sensei-info-wrapper">
			<h4 id="sensei-nome">{{sensei.nome}}</h4>
			<p id="sensei-seguidores">{{sensei.seguidores}} seguidor(es)</p>
			
		</div>
		
		<div class="sensei-info-wrapper" id="sensei-wrapper-2">
			<a ng-if="!estaSeguindo(sensei.id)" ng-click="seguirSensei(sensei.id)" class="waves-effect waves-light btn  deep-orange accent-2"><i class="material-icons right">person_add</i>seguir</a>
			<a ng-if="estaSeguindo(sensei.id)" ng-click="desseguirSensei(sensei.id)" class="waves-effect waves-light btn  deep-orange accent-2"><i class="material-icons right">person_add</i>desseguir</a>
			<p id="avaliacao">
				<i class="material-icons">
					<span class="estrela" id="1" ng-click="avaliarSensei(sensei.id, usuario.ID, 1)">star</span>
					<span class="estrela" id="2" ng-click="avaliarSensei(sensei.id, usuario.ID, 2)">star</span>
					<span class="estrela" id="3" ng-click="avaliarSensei(sensei.id, usuario.ID, 3)">star</span>
					<span class="estrela" id="4" ng-click="avaliarSensei(sensei.id, usuario.ID, 4)">star</span>
					<span class="estrela" id="5" ng-click="avaliarSensei(sensei.id, usuario.ID, 5)">star</span>
				</i>
			</p>
			<p id="sensei-nota"><i class="material-icons">star</i><span>{{sensei.media_notas | number:1}}</span>/5.0</p>
		</div>
	</div>
	
	<!-- Aulas -->
	<div id="sensei-aulas-row" class="row">
		<!-- Loader de Aulas -->
		<div class="loader-wrapper">
			<!-- Mensagem de Vazio -->
			<h5 ng-if="Sensei.aulas.length == 0">Não há nada aqui :/</h5>
			
			<div class="preloader-wrapper small active loader" ng-if="!Sensei.aulas">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col s12 m6 l4" ng-repeat="aulas in Sensei.aulas">
			<div class="card large">
				<div class="card-content">
					<span class="card-title">{{aulas.aulaNome}}</span>
					<a class="nome-sensei" ng-href="{{'home.html#!/sensei?id=' + aulas.id}}">{{aulas.nome}}</a>
					
					<div id="tags">
						<div class="chip" ng-repeat="tags in aulas.tags">{{tags}}</div>
					</div>
					
					<p class="preco info">{{aulas.preco | currency:'R$'}}</p>
					<p class="data info">{{aulas.dataDia}} - {{aulas.dataHora}}</p>
					<p class="local info">Local: {{aulas.local}}</p>
					<p class="vagas info">{{aulas.capacidade}} vagas restantes</p>
				</div>
				
				<div class="card-action">
					<a ng-show="!estaConfirmado(aulas.aulaId)" class="right btn amber accent-4" href="#" onclick="return false;" ng-click="inscreverNaAula(usuario.ID, aulas.aulaId)">Inscrever-se</a>
					<a ng-show="estaConfirmado(aulas.aulaId)" class="right btn amber accent-4" href="#" onclick="return false;" ng-click="desinscreverNaAula(usuario.ID, aulas.aulaId)">Cancelar inscrição</a>
				</div>
			</div>
		</div>
	</div>
</div>